.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}

/**
 * Hide the table of contents on the left if it's empty
 */
.tocCollapsibleButton {
  display: none;
}